127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ monitor_ip }} {{ host_name.monitor_name }}{{ domain_name }}
{{ storage_ip }} {{ host_name.storage_name }}{{ domain_name }}
{{ client_ip }} {{ host_name.client_name }}{{ domain_name }}