[Unit]
Description=Prometheus-Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Group=prometheus
EnvironmentFile={{ prometheus.conf_dir }}/prometheus-options
ExecStart={{ prometheus.exec_dir }}/prometheus $OPTIONS
ExecReload=curl -X POST localhost:9090/-/reload
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target